@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url("inter-font.ttf") format("truetype");
}
body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}
